<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button menu="MenuMonte"></ion-menu-button>
    </ion-buttons>

    <ion-img id="imagemLogo" src="../../assets/img/cake-show.png"></ion-img>
  </ion-toolbar>
</ion-header>

<ion-content padding>
  <h1>Produtos</h1>

  <ion-fab vertical="bottom" horizontal="end" slot="fixed">
    <ion-fab-button [routerLink]="['/monte-seu-bolo']">
      <ion-icon name="add"></ion-icon>
    </ion-fab-button>
  </ion-fab>

  <ion-row>
    <ion-col size="6">
      <ion-card [routerLink]="['/listar-caracteristicas','bolo1']">
        <ion-card-header>
          <ion-img class="imgcard" src="../../assets/img/bolo-card-1.jpg"></ion-img>
        </ion-card-header>
        <ion-card-content>
          Ler Descrição!
        </ion-card-content>
      </ion-card>
    </ion-col>

    <ion-col size=6>
      <ion-card [routerLink]="['/listar-caracteristicas','bolo2']">
        <ion-card-header>
          <ion-img class="imgcard" src="../../assets/img/bolo-card-2.jpg"></ion-img>
        </ion-card-header>
        <ion-card-content>
          Ler Descrição!
        </ion-card-content>
      </ion-card>
    </ion-col>
  </ion-row>

  <ion-row>
    <ion-col size="6">
      <ion-card [routerLink]="['/listar-caracteristicas','bolo3']">
        <ion-card-header>
          <ion-img class="imgcard" src="../../assets/img/bolo-card-3.jpg"></ion-img>
        </ion-card-header>
        <ion-card-content>
          Ler Descrição!
        </ion-card-content>
      </ion-card>
    </ion-col>

    <ion-col size="6">
      <ion-card [routerLink]="['/listar-caracteristicas','bolo4']">
        <ion-card-header>
          <ion-img class="imgcard" src="../../assets/img/bolo-card-4.jpg"></ion-img>
        </ion-card-header>
        <ion-card-content>
          Ler Descrição!
        </ion-card-content>
      </ion-card>
    </ion-col>
  </ion-row>

  <ion-row>
    <ion-col size="6">
      <ion-card [routerLink]="['/listar-caracteristicas','bolo1']">
        <ion-card-header>
          <ion-img class="imgcard" src="../../assets/img/bolo-card-1.jpg"></ion-img>
        </ion-card-header>
        <ion-card-content>
          Ler Descrição!
        </ion-card-content>
      </ion-card>
    </ion-col>

    <ion-col size=6>
      <ion-card [routerLink]="['/listar-caracteristicas','bolo2']">
        <ion-card-header>
          <ion-img class="imgcard" src="../../assets/img/bolo-card-2.jpg"></ion-img>
        </ion-card-header>
        <ion-card-content>
          Ler Descrição!
        </ion-card-content>
      </ion-card>
    </ion-col>
  </ion-row>

  <ion-row>
    <ion-col size="6">
      <ion-card [routerLink]="['/listar-caracteristicas','bolo3']">
        <ion-card-header>
          <ion-img class="imgcard" src="../../assets/img/bolo-card-3.jpg"></ion-img>
        </ion-card-header>
        <ion-card-content>
          Ler Descrição!
        </ion-card-content>
      </ion-card>
    </ion-col>

    <ion-col size="6">
      <ion-card [routerLink]="['/listar-caracteristicas','bolo4']">
        <ion-card-header>
          <ion-img class="imgcard" src="../../assets/img/bolo-card-4.jpg"></ion-img>
        </ion-card-header>
        <ion-card-content>
          Ler Descrição!
        </ion-card-content>
      </ion-card>
    </ion-col>
  </ion-row>

  <ion-row>
    <ion-col size="6">
      <ion-card [routerLink]="['/listar-caracteristicas','bolo1']">
        <ion-card-header>
          <ion-img class="imgcard" src="../../assets/img/bolo-card-1.jpg"></ion-img>
        </ion-card-header>
        <ion-card-content>
          Ler Descrição!
        </ion-card-content>
      </ion-card>
    </ion-col>

    <ion-col size=6>
      <ion-card [routerLink]="['/listar-caracteristicas','bolo2']">
        <ion-card-header>
          <ion-img class="imgcard" src="../../assets/img/bolo-card-2.jpg"></ion-img>
        </ion-card-header>
        <ion-card-content>
          Ler Descrição!
        </ion-card-content>
      </ion-card>
    </ion-col>
  </ion-row>

  <ion-row>
    <ion-col size="6">
      <ion-card [routerLink]="['/listar-caracteristicas','bolo3']">
        <ion-card-header>
          <ion-img class="imgcard" src="../../assets/img/bolo-card-3.jpg"></ion-img>
        </ion-card-header>
        <ion-card-content>
          Ler Descrição!
        </ion-card-content>
      </ion-card>
    </ion-col>

    <ion-col size="6">
      <ion-card [routerLink]="['/listar-caracteristicas','bolo4']">
        <ion-card-header>
          <ion-img class="imgcard" src="../../assets/img/bolo-card-4.jpg"></ion-img>
        </ion-card-header>
        <ion-card-content>
          Ler Descrição!
        </ion-card-content>
      </ion-card>
    </ion-col>
  </ion-row>

  <ion-row>
    <ion-col size="6">
      <ion-card [routerLink]="['/listar-caracteristicas','bolo1']">
        <ion-card-header>
          <ion-img class="imgcard" src="../../assets/img/bolo-card-1.jpg"></ion-img>
        </ion-card-header>
        <ion-card-content>
          Ler Descrição!
        </ion-card-content>
      </ion-card>
    </ion-col>

    <ion-col size=6>
      <ion-card [routerLink]="['/listar-caracteristicas','bolo2']">
        <ion-card-header>
          <ion-img class="imgcard" src="../../assets/img/bolo-card-2.jpg"></ion-img>
        </ion-card-header>
        <ion-card-content>
          Ler Descrição!
        </ion-card-content>
      </ion-card>
    </ion-col>
  </ion-row>

  <ion-row>
    <ion-col size="6">
      <ion-card [routerLink]="['/listar-caracteristicas','bolo3']">
        <ion-card-header>
          <ion-img class="imgcard" src="../../assets/img/bolo-card-3.jpg"></ion-img>
        </ion-card-header>
        <ion-card-content>
          Ler Descrição!
        </ion-card-content>
      </ion-card>
    </ion-col>

    <ion-col size="6">
      <ion-card [routerLink]="['/listar-caracteristicas','bolo4']">
        <ion-card-header>
          <ion-img class="imgcard" src="../../assets/img/bolo-card-4.jpg"></ion-img>
        </ion-card-header>
        <ion-card-content>
          Ler Descrição!
        </ion-card-content>
      </ion-card>
    </ion-col>
  </ion-row>

</ion-content>