<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button id="menu" menu="MenuMonte"></ion-menu-button>
    </ion-buttons>

    <ion-img id="imagemLogo" src="../../assets/img/cake-show.png"></ion-img>
  </ion-toolbar>
</ion-header>

<ion-content padding>

  <h1>Nosso Catálogo</h1>
  
  <ion-fab vertical="bottom" horizontal="end" slot="fixed" (click)="teste()">
    <ion-fab-button [routerLink]="['/monte-seu-bolo']" color="danger">
      <ion-icon name="add"></ion-icon>
    </ion-fab-button>
  </ion-fab>

  <ion-col size="6" *ngFor="let item of listaProdutos">
    <ion-card [routerLink]="['/listar-caracteristicas',item.id]">
      <ion-card-header>
        <ion-img class="imgcard" src="{{item.imagem}}"></ion-img>
      </ion-card-header>
      <ion-card-content>
        {{ item.titulo }}
      </ion-card-content>
    </ion-card>
  </ion-col>

  <div>
    <ion-img id="banner" src="../../assets/img/uber.jpg"></ion-img>
  </div>

</ion-content>