<ion-header>
  <ion-toolbar>

    <ion-buttons slot="start">
      <ion-menu-button id="menu" menu="MenuMonte"></ion-menu-button>
    </ion-buttons>

    <ion-img id="imagemLogo" src="../../assets/img/cake-show.png"></ion-img>
  </ion-toolbar>
</ion-header>

<ion-content padding>

<h1>Finalizar Pedido Do Seu Bolo Personalizado</h1>

  <ion-card>
    <ion-card-header>
      <ion-img class="imgcard" src="../../assets/img/bolo-card-4.jpg"></ion-img>
    </ion-card-header>
    <ion-card-content>
      <ion-card-title>Titulo</ion-card-title>
      Descrição ai Descrição ai Descrição ai Descrição ai Descrição ai Descrição aiDescrição ai Descrição ai Descrição aiDescrição aiDescrição ai
    </ion-card-content>

    <h4>Valor: R$ 10.000</h4>

    <ion-button expand="full" fill="outline" shape="round"> Comprar! </ion-button>
  </ion-card>
</ion-content>