<ion-header>

</ion-header>

<ion-content padding>

  <div id="divLogin">
    <ion-img id="imagemLogo" src="../../assets/img/cake-show.png"></ion-img>
    <div id="divLogin2">

      <h2>Login do Usuário</h2>

      <form [formGroup]="formulario">
        <ion-list>
          <ion-item>
            <ion-label class="label" position="floating">E-mail</ion-label>
            <ion-input type="email" formControlName="email"></ion-input>
          </ion-item>
          <ion-item>
            <ion-label class="label" position="floating">Senha</ion-label>
            <ion-input type="password" formControlName="senha"></ion-input>
          </ion-item>
        </ion-list>
      </form>

      <p id="msg"> {{msg}} </p>

      <ion-row>
        <ion-col size="6">
          <ion-button [routerLink]="['/cadastrar-usuario']" color="light" expand="full" fill="outline" shape="round">
            Cadastrar-se
          </ion-button>
        </ion-col>

        <ion-col size="6">
          <ion-button (click)="validarLogin()" expand="full" shape="round" [disabled]="!formulario.valid">
            LOGAR
          </ion-button>
        </ion-col>
      </ion-row>

      <ion-row>
        <ion-col size="12">
          <ion-button color="success" shape="round" expand="full" (click)="loginGoogle()">
            Entrar com a Conta do
            <ion-img id="google" src="../../assets/img/google.png"></ion-img>
          </ion-button>
        </ion-col>
      </ion-row>

      <ion-row>
        <ion-col size="12">
          <p id="visitaSite" (click)="visitante()">VISITANTE</p>
        </ion-col>
      </ion-row>

    </div>
  </div>
</ion-content>