ion-content{
    --background:rgba(251, 6, 6, 0.94);
}

#divLogin{
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

#divLogin2{
    border-radius: 15px;
    width: 100vh;
    padding: 10px
}

h2{
    text-align: center !important; 
    font-size: 30px;
    font-style: unset;
    margin-top: 10%;
    color: white;
}

ion-list {
    --ion-item-background: rgba(66, 29, 29, 0);
    border-radius: 10px;
}

ion-item {
    --ion-item-background: rgba(255, 255, 255, 0.3);
    color: white;
}

#imagemLogo{
    max-width: 60%; 
    position: fixed; 
    top: 15px; 
    left: 50%; 
    margin-right: -50%; 
    transform: translate(-50%, -0%) 
}