ion-content{
    --background: linear-gradient(to bottom, rgb(250, 11, 11), rgb(51, 19, 8));;
}

#divLogin{
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

#divLogin2{
    border-radius: 15px;
    width: 100vh;
    padding: 10px
}

h2{
    text-align: center !important; 
    font-size: 30px;
    font-style: unset;
    margin-top: 10%;
    color: white;
}

ion-list {
    --ion-item-background: rgba(66, 29, 29, 0);
    border-radius: 10px;
}

ion-item {
    --ion-item-background: rgba(255, 255, 255, 0.3);
    color: white;
}

#imagemLogo{
    max-width: 60%; 
    position: fixed; 
    top: 15px; 
    left: 50%; 
    margin-right: -50%; 
    transform: translate(-50%, -0%) 
}

#msg{
    background-color:rgba(255, 254, 254, 0.418);
    border-radius: 10px;
    color: white;
    margin-top: -1px;
    text-align: center;
    font-size: 15px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-weight: bold;
    text-transform: uppercase;
}