<ion-header>
  <ion-toolbar>
      <ion-buttons slot="start">
          <ion-menu-button id="menu" menu="MenuMonte"></ion-menu-button>
        </ion-buttons>
    
        <ion-img id="imagemLogo" src="../../assets/img/cake-show.png"></ion-img>
  </ion-toolbar>
</ion-header>

<ion-content padding>

    <h2 id="titulo">Monte seu Bolo</h2>

  <div class="escolher">
    <h3 class="titulo">Tamanho do Bolo</h3>
    <ion-row>
        <ion-col size="3"> 
          <ion-img class="imgcard" [src]="monteSeuBolo.tamanhoBoloImagem01"></ion-img>
          <p class="tituloImagem">{{monteSeuBolo.tamanhoBoloNome01}}</p>
        </ion-col>
    
        <ion-col size=3>
          <ion-img class="imgcard" [src]="monteSeuBolo.tamanhoBoloImagem02"></ion-img>
          <p class="tituloImagem">{{monteSeuBolo.tamanhoBoloNome02}}</p>
        </ion-col>

        <ion-col size=3>
          <ion-img class="imgcard" [src]="monteSeuBolo.tamanhoBoloImagem03"></ion-img>
          <p class="tituloImagem">{{monteSeuBolo.tamanhoBoloNome03}}</p>
        </ion-col>

          <ion-col size=3>
            <ion-img class="imgcard" [src]="monteSeuBolo.tamanhoBoloImagem04"></ion-img>
            <p class="tituloImagem">{{monteSeuBolo.tamanhoBoloNome04}}</p>
          </ion-col>
      </ion-row>
  </div>

  <div class="escolher">
      <h3 class="titulo">Escolha a Massa</h3>
      <ion-row>
          <ion-col size="3"> 
            <ion-img class="imgcard" [src]="monteSeuBolo.massaImagem01"></ion-img>
            <p class="tituloImagem">{{monteSeuBolo.massaNome01}}</p>
          </ion-col>
      
          <ion-col size=3>
            <ion-img class="imgcard" [src]="monteSeuBolo.massaImagem02"></ion-img>
            <p class="tituloImagem">{{monteSeuBolo.massaNome02}}</p>
          </ion-col>
  
          <ion-col size=3>
            <ion-img class="imgcard" [src]="monteSeuBolo.massaImagem03"></ion-img>
            <p class="tituloImagem">{{monteSeuBolo.massaNome03}}</p>
          </ion-col>
  
            <ion-col size=3>
              <ion-img class="imgcard" [src]="monteSeuBolo.massaImagem04"></ion-img>
              <p class="tituloImagem">{{monteSeuBolo.massaNome04}}</p>
            </ion-col>
        </ion-row>
    </div>

    <div class="escolher">
        <h3 class="titulo">Escolha o Recheio</h3>
        <ion-row>
            <ion-col size="3"> 
              <ion-img class="imgcard" [src]="monteSeuBolo.recheioImagem01"></ion-img>
              <p class="tituloImagem">{{monteSeuBolo.recheioNome01}}</p>
            </ion-col>
        
            <ion-col size=3>
              <ion-img class="imgcard" [src]="monteSeuBolo.recheioImagem02"></ion-img>
              <p class="tituloImagem">{{monteSeuBolo.recheioNome02}}</p>
            </ion-col>
    
            <ion-col size=3>
              <ion-img class="imgcard" [src]="monteSeuBolo.recheioImagem03"></ion-img>
              <p class="tituloImagem">{{monteSeuBolo.recheioNome03}}</p>
            </ion-col>
    
              <ion-col size=3>
                <ion-img class="imgcard" [src]="monteSeuBolo.recheioImagem04"></ion-img>
                <p class="tituloImagem">{{monteSeuBolo.recheioNome04}}</p>
              </ion-col>
          </ion-row>
      </div>

      <div class="escolher">
          <h3 class="titulo">Escolha os Toppings</h3>
          <ion-row>
              <ion-col size="3"> 
                <ion-img class="imgcard" [src]="monteSeuBolo.ToppingsImagem01"></ion-img>
                <p class="tituloImagem">{{monteSeuBolo.ToppingsNome01}}</p>
              </ion-col>
          
              <ion-col size=3>
                <ion-img class="imgcard" [src]="monteSeuBolo.ToppingsImagem02"></ion-img>
                <p class="tituloImagem">{{monteSeuBolo.ToppingsNome02}}</p>
              </ion-col>
      
              <ion-col size=3>
                <ion-img class="imgcard" [src]="monteSeuBolo.ToppingsImagem03"></ion-img>
                <p class="tituloImagem">{{monteSeuBolo.ToppingsNome03}}</p>
              </ion-col>
      
                <ion-col size=3>
                  <ion-img class="imgcard" [src]="monteSeuBolo.ToppingsImagem04"></ion-img>
                  <p class="tituloImagem">{{monteSeuBolo.ToppingsNome04}}</p>
                </ion-col>
            </ion-row>
        </div>

        <ion-button color="light" expand="full" fill="outline" shape="round" [routerLink]="['/finalizar-pedido-monte']">Finalizar Pedido</ion-button>
</ion-content>
