<ion-header>
  <ion-toolbar>
      <ion-buttons slot="start">
          <ion-menu-button menu="MenuMonte"></ion-menu-button>
        </ion-buttons>
    
        <ion-img id="imagemLogo" src="../../assets/img/cake-show.png"></ion-img>
  </ion-toolbar>
</ion-header>

<ion-content padding>

    <h2 id="titulo">Monte seu Bolo</h2>

  <div class="escolher">
    <h3 class="titulo">Tamanho do Bolo</h3>
    <ion-row>
        <ion-col size="3"> 
          <ion-img class="imgcard" src="../../assets/img/ind.png"></ion-img>
          <p class="tituloImagem">Individual</p>
        </ion-col>
    
        <ion-col size=3>
          <ion-img class="imgcard" src="../../assets/img/peq.png"></ion-img>
          <p class="tituloImagem">Pequena (10 Fatias)</p>
        </ion-col>

        <ion-col size=3>
          <ion-img class="imgcard" src="../../assets/img/med.png"></ion-img>
          <p class="tituloImagem">Média (25 Fatias)</p>
        </ion-col>

          <ion-col size=3>
            <ion-img class="imgcard" src="../../assets/img/gra.png"></ion-img>
            <p class="tituloImagem">Grande (35 Fatias)</p>
          </ion-col>
      </ion-row>
  </div>

  <div class="escolher">
      <h3 class="titulo">Escolha a Massa</h3>
      <ion-row>
          <ion-col size="3"> 
            <ion-img class="imgcard" src="../../assets/img/Massa_Tradicional.png"></ion-img>
            <p class="tituloImagem">Tradicional</p>
          </ion-col>
      
          <ion-col size=3>
            <ion-img class="imgcard" src="../../assets/img/choc.png"></ion-img>
            <p class="tituloImagem">Chocolate</p>
          </ion-col>
  
          <ion-col size=3>
            <ion-img class="imgcard" src="../../assets/img/baunilha.png"></ion-img>
            <p class="tituloImagem">Baunilha</p>
          </ion-col>
  
            <ion-col size=3>
              <ion-img class="imgcard" src="../../assets/img/Massa_Limao.png"></ion-img>
              <p class="tituloImagem">limão</p>
            </ion-col>
        </ion-row>
    </div>

    <div class="escolher">
        <h3 class="titulo">Escolha o Recheio</h3>
        <ion-row>
            <ion-col size="3"> 
              <ion-img class="imgcard" src="../../assets/img/briga.png"></ion-img>
              <p class="tituloImagem">Brigadeiro</p>
            </ion-col>
        
            <ion-col size=3>
              <ion-img class="imgcard" src="../../assets/img/briga-branco.png"></ion-img>
              <p class="tituloImagem">Chocolate</p>
            </ion-col>
    
            <ion-col size=3>
              <ion-img class="imgcard" src="../../assets/img/doce-leite.png"></ion-img>
              <p class="tituloImagem">Doce de Leite</p>
            </ion-col>
    
              <ion-col size=3>
                <ion-img class="imgcard" src="../../assets/img/nutella.png"></ion-img>
                <p class="tituloImagem">Nutella</p>
              </ion-col>
          </ion-row>
      </div>

      <div class="escolher">
          <h3 class="titulo">Escolha os Toppings</h3>
          <ion-row>
              <ion-col size="3"> 
                <ion-img class="imgcard" src="../../assets/img/oreo.png"></ion-img>
                <p class="tituloImagem">Oreo</p>
              </ion-col>
          
              <ion-col size=3>
                <ion-img class="imgcard" src="../../assets/img/top-chocolate.png"></ion-img>
                <p class="tituloImagem">Raspas de Chocolate</p>
              </ion-col>
      
              <ion-col size=3>
                <ion-img class="imgcard" src="../../assets/img/Top-KitKat.png"></ion-img>
                <p class="tituloImagem">KitKat</p>
              </ion-col>
      
                <ion-col size=3>
                  <ion-img class="imgcard" src="../../assets/img/morango.png"></ion-img>
                  <p class="tituloImagem">Morango</p>
                </ion-col>
            </ion-row>
        </div>

        <ion-button color="light" expand="full" fill="outline" shape="round" [routerLink]="['/finalizar-pedido-monte']">Finalizar Pedido</ion-button>
</ion-content>
