<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button id="menu" menu="MenuMonte"></ion-menu-button>
    </ion-buttons>

    <ion-img id="imagemLogo" src="../../assets/img/cake-show.png"></ion-img>
  </ion-toolbar>
</ion-header>

<ion-content padding>

  <h2 id="titulo">Alterar o Monte seu Bolo</h2>

  <div class="escolher">
    <h3 class="titulo">Tamanho do Bolo</h3>
    <ion-row>
      <ion-col size="3">
        <ion-img class="imgcard" [src]="monteSeuBolo.tamanhoBoloImagem01"></ion-img>
        <input type="text" class="imgcard" [(ngModel)]="monteSeuBolo.tamanhoBoloNome01">
      </ion-col>

      <ion-col size=3>
        <ion-img class="imgcard" [src]="monteSeuBolo.tamanhoBoloImagem02"></ion-img>
        <input type="text" class="imgcard" [(ngModel)]="monteSeuBolo.tamanhoBoloNome02">
      </ion-col>

      <ion-col size=3>
        <ion-img class="imgcard" [src]="monteSeuBolo.tamanhoBoloImagem03"></ion-img>
        <input type="text" class="imgcard" [(ngModel)]="monteSeuBolo.tamanhoBoloNome03">
      </ion-col>

      <ion-col size=3>
        <ion-img class="imgcard" [src]="monteSeuBolo.tamanhoBoloImagem04"></ion-img>
        <input type="text" class="imgcard" [(ngModel)]="monteSeuBolo.tamanhoBoloNome04">
      </ion-col>
    </ion-row>
  </div>

  <div class="escolher">
    <h3 class="titulo">Escolha a Massa</h3>
    <ion-row>
      <ion-col size="3">
        <ion-img class="imgcard" [src]="monteSeuBolo.massaImagem01"></ion-img>
        <input type="text" class="imgcard" [(ngModel)]="monteSeuBolo.massaNome01">
      </ion-col>

      <ion-col size=3>
        <ion-img class="imgcard" [src]="monteSeuBolo.massaImagem02"></ion-img>
        <input type="text" class="imgcard" [(ngModel)]="monteSeuBolo.massaNome02">
      </ion-col>

      <ion-col size=3>
        <ion-img class="imgcard" [src]="monteSeuBolo.massaImagem03"></ion-img>
        <input type="text" class="imgcard" [(ngModel)]="monteSeuBolo.massaNome03">
      </ion-col>

      <ion-col size=3>
        <ion-img class="imgcard" [src]="monteSeuBolo.massaImagem04"></ion-img>
        <input type="text" class="imgcard" [(ngModel)]="monteSeuBolo.massaNome04">
      </ion-col>
    </ion-row>
  </div>

  <div class="escolher">
    <h3 class="titulo">Escolha o Recheio</h3>
    <ion-row>
      <ion-col size="3">
        <ion-img class="imgcard" [src]="monteSeuBolo.recheioImagem01"></ion-img>
        <input type="text" class="imgcard" [(ngModel)]="monteSeuBolo.recheioNome01">
      </ion-col>

      <ion-col size=3>
        <ion-img class="imgcard" [src]="monteSeuBolo.recheioImagem02"></ion-img>
        <input type="text" class="imgcard" [(ngModel)]="monteSeuBolo.recheioNome02">
      </ion-col>

      <ion-col size=3>
        <ion-img class="imgcard" [src]="monteSeuBolo.recheioImagem03"></ion-img>
        <input type="text" class="imgcard" [(ngModel)]="monteSeuBolo.recheioNome03">
      </ion-col>

      <ion-col size=3>
        <ion-img class="imgcard" [src]="monteSeuBolo.recheioImagem04"></ion-img>
        <input type="text" class="imgcard" [(ngModel)]="monteSeuBolo.recheioNome04">
      </ion-col>
    </ion-row>
  </div>

  <div class="escolher">
    <h3 class="titulo">Escolha os Toppings</h3>
    <ion-row>
      <ion-col size="3">
        <ion-img class="imgcard" [src]="monteSeuBolo.ToppingsImagem01"></ion-img>
        <input type="text" class="imgcard" [(ngModel)]="monteSeuBolo.ToppingsNome01">
      </ion-col>

      <ion-col size=3>
        <ion-img class="imgcard" [src]="monteSeuBolo.ToppingsImagem02"></ion-img>
        <input type="text" class="imgcard" [(ngModel)]="monteSeuBolo.ToppingsNome02">
      </ion-col>

      <ion-col size=3>
        <ion-img class="imgcard" [src]="monteSeuBolo.ToppingsImagem03"></ion-img>
        <input type="text" class="imgcard" [(ngModel)]="monteSeuBolo.ToppingsNome03">
      </ion-col>

      <ion-col size=3>
        <ion-img class="imgcard" [src]="monteSeuBolo.ToppingsImagem04"></ion-img>
        <input type="text" class="imgcard" [(ngModel)]="monteSeuBolo.ToppingsNome04">
      </ion-col>
    </ion-row>
  </div>

  <ion-row>
    <ion-col size="6">
      <ion-button color="light" expand="full" fill="outline" shape="round" [routerLink]="['/monte-seu-bolo']">
        Camcelar
      </ion-button>
    </ion-col>

    <ion-col size="6">
      <ion-button expand="full" shape="round" (click)="atualizar()" color="warning">
        Editar
      </ion-button>
    </ion-col>
  </ion-row>
</ion-content>