<ion-split-pane>
  <ion-menu menuId="MenuMonte" side="start" type="overlay">
    <ion-header>
      <ion-toolbar>
        <ion-title>MENU MAKE YOUR CAKE</ion-title>
        <ion-item>
          <ion-avatar slot="start">
            <img src="../../assets/img/foto-1.png" />
          </ion-avatar>
          <ion-label>{{nomeUsuario}}</ion-label>
        </ion-item>
      </ion-toolbar>
    </ion-header>

    <ion-content>
      <ion-menu-toggle>
        <ion-list>
          <ion-item [routerLink]="['/login']" *ngIf="!usuarioLogado">
            <ion-icon slot="start" name="exit"></ion-icon> Logar
          </ion-item>
          <ion-item [routerLink]="['/consultar-produtos']">
            <ion-icon slot="start" name="search"></ion-icon> Catálogo dos Produtos
          </ion-item>
          <ion-item [routerLink]="['/monte-seu-bolo']">
            <ion-icon slot="start" name="pizza"></ion-icon> Monte Seu Bolo
          </ion-item>
          <ion-item [routerLink]="['/minha-compras']" *ngIf="!UsuarioAdmin">
            <ion-icon slot="start" name="cart"></ion-icon> Minhas Compras
          </ion-item>
          <ion-item (click)="montarBolo()" *ngIf="UsuarioAdmin">
            <ion-icon slot="start" name="pizza"></ion-icon> Atualizar Monte Seu Bolo
          </ion-item>
          <ion-item [routerLink]="['/cadastrar-produto']" *ngIf="UsuarioAdmin">
            <ion-icon slot="start" name="add"></ion-icon> Cadastrar Produto
          </ion-item>
          <ion-item [routerLink]="['/lista-produtos-cadastrados']" *ngIf="UsuarioAdmin">
            <ion-icon slot="start" name="list"></ion-icon> Lista dos Produtos
          </ion-item>
          <ion-item (click)="deslogar()" *ngIf="usuarioLogado">
            <ion-icon slot="start" name="exit"></ion-icon> Sair
          </ion-item>
        </ion-list>
      </ion-menu-toggle>
    </ion-content>

  </ion-menu>
  <ion-router-outlet main></ion-router-outlet>
</ion-split-pane>