<ion-split-pane>
  <ion-menu menuId="MenuMonte" side="start" type="overlay">
    <ion-header>
      <ion-toolbar>
        <ion-title>MENU MAKE YOUR CAKE</ion-title>
      </ion-toolbar>
    </ion-header>

    <ion-content>
      <ion-menu-toggle>
        <ion-list>
          <ion-item (click)="onClick()">
            <ion-icon slot="start" name="search"></ion-icon> Catálogo dos Produtos
          </ion-item>
          <ion-item [routerLink]="['/monte-seu-bolo']">
            <ion-icon slot="start" name="pizza"></ion-icon> Monte Seu Bolo
          </ion-item>
          <ion-item [routerLink]="['/cadastrar-produto']">
            <ion-icon slot="start" name="add"></ion-icon> Cadastrar Produto
          </ion-item>
          <ion-item [routerLink]="['/lista-produtos-cadastrados']">
            <ion-icon slot="start" name="list"></ion-icon> Lista dos Produtos
          </ion-item>
          <ion-item [routerLink]="['/login']" (click)="deslogar()">
            <ion-icon slot="start" name="exit"></ion-icon> Sair
          </ion-item>
        </ion-list>
      </ion-menu-toggle>
    </ion-content>

  </ion-menu>
  <ion-router-outlet main></ion-router-outlet>
</ion-split-pane>