ion-content{
    --background: linear-gradient(to bottom, rgb(250, 11, 11), rgb(51, 19, 8));
    --margin:0px;
}

ion-toolbar{
    --background:rgba(194, 6, 6, 0.94);
}

#imagemLogo{
    max-width: 30%;
    height: 85%;
    position: fixed; 
    top: 5px; 
    left: 50%; 
    margin-right: -50%; 
    transform: translate(-50%, -0%) 
}

h1{
    text-align: center !important; 
    font-size: 30px;
    font-style: unset;
    margin-top: 10%;
    color: white;
}