ion-content{
    --background: linear-gradient(to bottom, rgb(250, 11, 11), rgb(51, 19, 8));
    --margin:0px;
}

ion-toolbar{
    --background:rgba(194, 6, 6, 0.94);
}

#imagemLogo{
    max-width: 30%;
    height: 85%;
    position: fixed; 
    top: 5px; 
    left: 50%; 
    margin-right: -50%; 
    transform: translate(-50%, -0%) 
}

h1{
    text-align: center !important; 
    font-size: 30px;
    font-style: unset;
    margin-top: 10%;
    color: white;
}

#div1{
    display: flex;
    justify-content: center;
    align-items: center;
}

#div2{
    border-radius: 15px;
    width: 100vh;
}

ion-list {
    --ion-item-background: rgba(66, 29, 29, 0);
    border-radius: 10px;
}

ion-item {
    --ion-item-background: rgba(255, 255, 255, 0.3);
    color: white;
}

#msg{
    background-color:rgba(255, 254, 254, 0.418);
    border-radius: 10px;
    color: white;
    margin-top: -1px;
    text-align: center;
    font-size: 15px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-weight: bold;
    text-transform: uppercase;
}

#fotoDiv{
    background-color: rgba(255, 255, 255, 0.3);
}

#foto{
    width: 200px;
    height: 200px;
    position: relative;
    margin:auto;
} 